apiVersion: v1
kind: Secret
metadata:
  name: calendly-secrets
  namespace: calendly
type: Opaque
stringData:
  DATABASE_URL: "postgresql://pgadmin:YOUR_PASSWORD@YOUR_PG_HOST.postgres.database.azure.com:5432/calendly?sslmode=require"

  TEMPORAL_POSTGRES_USER: "pgadmin"
  TEMPORAL_POSTGRES_PWD: "YOUR_PASSWORD"
  TEMPORAL_POSTGRES_SEEDS: "YOUR_PG_HOST.postgres.database.azure.com"

  TEMPORAL_ADDRESS: "temporal:7233"
  TEMPORAL_NAMESPACE: "default"
  TEMPORAL_TASK_QUEUE: "calendly-tasks"

  SMTP_HOST: "smtp.sendgrid.net"
  SMTP_PORT: "587"
  SMTP_USER: "apikey"
  SMTP_PASS: "YOUR_SENDGRID_API_KEY"
  EMAIL_FROM: "Calendly <noreply@yourdomain.com>"

  GOOGLE_CLIENT_ID: "YOUR_CLIENT_ID"
  GOOGLE_CLIENT_SECRET: "YOUR_CLIENT_SECRET"
  GOOGLE_REDIRECT_URI: "http://YOUR_API_IP/api/integrations/google/callback"
  GOOGLE_SENDER_EMAIL: "info@yourdomain.com"
  GOOGLE_REFRESH_TOKEN: "YOUR_REFRESH_TOKEN"
  GOOGLE_CALENDAR_ID: "primary"
